<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation demo suite" parallel="methods" thread-count="1">
    <test verbose="1" name="Ukad-Group site demo test" annotations="JDK">
        <classes>
            <class name="FooterTest"/>
        </classes>
    </test>
</suite>